*{margin: 0; padding: 0;}

.container{
    border: 4px solid red;
    display: inline-flex;
  }
  
  .container .item{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 10px;
    
  }
  
  /*inline요소는 텍스트를 다루는데 특화. 
  따라서 요소 사이에 띄어쓰기 한칸의 여백이 들어가게 됨. 
  div가 글자화 됐다곡 생각하면 됨.*/



  .container-b{
    border: 4px solid;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-b .item-b{
    width: 150px;
    height: 100px;
    background: tomato;
    border: 4px dashed red;
    
  }



  .container-c{
    border: 4px solid;
    display: flex;
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
  }
  
  .container-c .item-c{
    width: 100px;
    height: 100px;
    background: orange;
    border: 4px dashed red;
    border-radius: 10px;
  }