*{margin:0; padding: 0;}


.box-a{
  width: 100px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
}
.box-a:hover{
  animation: first-animation 2s infinite/*무한반복*/ alternate/*번갈아서 나오게*/;
}

@keyframes first-animation{
  0%{
    width: 100px;
  }
  100%{
    width: 500px;
  }
}





.box-b{
  width: 100px;
  height: 100px;
  background: orange;
  border-radius: 10px;
}

.box-b:hover{
  animation: my-animation 3s infinite alternate;
}
@keyframes my-animation{
  0%{
    width: 100px;
    background: orange;
  }
  75%{
    width: 500px;
    background: dodgerblue;
  }
  100%{
    width: 300px;
    background: yellowgreen;
  }
}




.box-c{
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 10px;
}

.box-c:hover{
  animation: my-s-animation;
  animation-duration: 1000ms;
}
@keyframes my-s-animation{
  0%{
    width: 100px;
    background: yellow;
  }
  75%{
    width: 500px;
    background: dodgerblue;
  }
  100%{
    width: 300px;
    background: yellowgreen;
  }
}



.box-d{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1{background: tomato;
}
.box2{background:dodgerblue;
}
.box3{background: yellowgreen;
}

.box1:hover{
  animation: size-up 1s 2 alternate 0s linear;
  /*animation-timing-function: linear;
  animation-delay: 0s;*/
}
.box2:hover{
  animation: size-up 1s 2 alternate linear 1s;
  /*animation-timing-function: linear;
  animation-delay: 1s;*/
}
.box3:hover{
  animation: size-up 1s 2 alternate linear -1s;
  /*animation-timing-function: linear;
  animation-delay: -1s;
  /*1초를 건너뛰고 애니메이션의 0초가 아닌 1초부터 시작한다!
  duration과 delay 순서만 안바뀌면 timing-function이랑 delay순서 바껴도 상관없다. */
}

@keyframes size-up{
  0%{
   width: 150px; 
  }
  100%{
    width: 500px;
  }
}




.box-e{
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 10px;
  margin: 30px;
  animation: movemove 2s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-direction: alternate-reverse;
  /*100%부터 시작하는게 reverse
  alternate는 infinite일 때 효과X*/
}

@keyframes movemove{
  0%{
    transform: translate(0, 0);
  }
  25%{
    transform: translate(100px, 0);
  }
  50%{
    transform: translate(100px, 100px);
  }
  75%{transform: translate(0, 100px);
  }
  100%{transform: translate(0, 0);
  }
}




.box-f{
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 10px;
  margin: 30px;
  animation: movemove-s 2s 2s;
  animation-fill-mode: both;
}
@keyframes movemove-s{
  0%{
    transform: translate(100px, 100px);
    background: dodgerblue;
  }
  100%{
    transform: translate(300px, 100px);
    background: yellowgreen;
  }
}




body{
  padding: 20px;
}

.box-g{
  width: 150px;
  height: 100px;
  background: blue;
  border-radius: 10px;
  animation: size-up 3s linear infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-g::before{
  content: "Running";
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.box-g:hover{
  animation-play-state: paused;
  background: dodgerblue;
}
.box-g:hover::before{/*box-g에 hover를 하면 before는 ~*/
  content: "Paused";
  color: black;
}

@keyframes size-up{
  0%{
    width: 150px;
  }
  100%{
    width: 100%;
  }
}




p{
  color: red;
  /*column-width: 200px;
  뷰포트가 200px보다 작아지면 단 개수가 조정된다.
  column-count: 3;*/
  columns: 150px 3;
  column-gap: 20px;
  text-align: justify;
  column-rule: 2px solid;
  /*선색을 지정하지 않으면 글자색을 따라간다*/
}