.box-a{
  width: 100px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
}
.box-a:hover{
  animation: first-animation 2s infinite/*무한반복*/ alternate/*번갈아서 나오게*/;
}

@keyframes first-animation{
  0%{
    width: 100px;
  }
  100%{
    width: 500px;
  }
}


.box-b{
  width: 100px;
  height: 100px;
  background: orange;
  border-radius: 10px;
}

.box-b:hover{
  animation: my-animation 3s infinite alternate;
}
@keyframes my-animation{
  0%{
    width: 100px;
    background: orange;
  }
  75%{
    width: 500px;
    background: dodgerblue;
  }
  100%{
    width: 300px;
    background: yellowgreen;
  }
}


.box-c{
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 10px;
}

.box-c:hover{
  animation: my-s-animation;
  animation-duration: 1000ms;
}
@keyframes my-s-animation{
  0%{
    width: 100px;
    background: yellow;
  }
  75%{
    width: 500px;
    background: dodgerblue;
  }
  100%{
    width: 300px;
    background: yellowgreen;
  }
}