/* COMMON */
*{margin: 0; padding: 0;
	list-style: none;
	font-family: "맑은 고딕";
	font-size: 15px;
	font-weight: 500;
	color: #222328;}
a{
	text-decoration:none;
	color: inherit;}/*부모의 컬러를 상속받아라*/
h1,h2,h3,h4,h5,h6{color:inherit;}
button{cursor:pointer;}
.clear{content:""; display:block; clear:both;}

#wrap{
	width:1200px;
	margin:0 auto;}


/* 헤더 */
header{
	width: 100%;
	height: 100px;}

#logo{
	width: 200px;
	height: 40px;
	float:left;
	padding-top:30px;}


/* 네비 */
nav{
	width: 800px;
	height: 30px;
	float: right;
	margin-top: 35px;}

.nav li{
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	transition: all 0.4s;}

.nav li:hover{
	background-color: #777;
	color: #fff;}

.nav>li:last-child{
	display:none;}

.submenu{
	width: 100%;
	height: 120px;
	position: relative;
	z-index: 1;
	display:none;
	background-color:rgba(255,255,255,.8);}

.submenu li:hover{
	background-color:#949494;}


/* 이미지슬라이드 */
#imgslide{
	width: 100%;
	height: 300px;
	overflow:hidden;}
.imgs a{
	width: 100%;
	height: 300px;
	display:block;}


/* 본문내용 */
#contents{
	width: 100%;
	height: 200px;
	margin-top: 20px;}

/* 공지사항/갤러리 */
#no_ga, #banner, #go{
	width: 340px;
	height: 180px;
	float:left;}

#no_ga{
	width: 460px;}

.notice, .gallery{
	position:absolute;}
.gallery{
	display:none;}

.text-box{
	width: 140px;
	height: 30px;
	margin-left: 10px;}

.no_tex, .ga_tex{
	width: 50%;
	height: 30px;
	float: left;
	font-size: 17px;
	font-weight: 900;
	line-height: 30px;
	text-align: center;}

/*li중에 .on을 가진 애*/
.text-box li.on{
	background-color: #000;
	color: #fff;}

.con-box{
	width: 460px;
	height: 148px;
	border: 1px solid #000;}

table{
	width: 460px;
	border-collapse: collapse; }/* 테이블 여백 지워주기 */
tr td{
	font-size: 12px;
	font-weight: 600;
	padding: 6px;}

tr td:first-child{
	padding-left: 25px;}
td a{
	font-size: 13px;}
td a:hover{
	text-decoration:underline;}
table tr:nth-child(2n){
	background-color:rgba(153,153,153,.5);}

.gallery li{
	margin-top: 15px;
	margin-left: 25px;
	float: left;}

#banner, #go{
	margin-left: 30px;}


/* 레이어팝업(모달) */
#pop_body{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display:none;
	background-color: rgba(0,0,0,.6);}

.pop_in{
	width: 500px;
	height: 250px;
	position: fixed;
	top: 130px;
	left: 50%;
	margin-left: -250px;
	background-color: #fff;}

.pop_in h3{
	font-size: 20px;
	font-weight: 900;
	padding: 15px;
	padding-left: 25px;
	border-bottom: 1px solid #ccc;}

.pop_in p{
	padding: 15px;
	padding-left: 25px;
	line-height: 25px;}

.pop_in button{
	width: 50px;
	height: 30px;
	display: block;
	margin: 10px auto;
	border: none;
	border-radius: 10px;}

.pop_in button:hover{
	background-color: #949494;
	color: #fff;}


/* footer */
footer {
	width: 100%;
	height: 100px;
	background-color: #949494;}

footer li{
	width: 200px;
	height: 40px;
	float: left;}

.f_logo{
	padding-top: 30px;}

.copy{
	width: 800px;
	text-align: center;
	line-height: 100px;}

.copy span{
	color: #fff;}

.sns a{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-left: 36px;
	margin-top: 34.66px;}

.sns a:first-child{
	margin-left: 0;}