*{
	margin:0; padding:0;
	list-style: none;
	font-size: 15px;
	font-weight: 500;
	color: #888888;}

a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;}

h1,h2,h3,h4,h5,h6{
	color: inherit;
	font-size: inherit;}

